example/example_flow
[{"id":"aa70bd7f.0d5d7","type":"ui_template","z":"ffae6a3b.7c2d28","group":"8880d363.148ac","name":"Thermostat","order":1,"width":"6","height":"6","format":"<script type=\"text/javascript\" src=\"/thermostat/thermojs/thermo.js\"></script>\n<link rel=\"stylesheet\" href=\"/thermostat/thermocss/thermo.min.css\">\n<div id=\"thermostat\"></div>","storeOutMessages":true,"fwdInMessages":false,"x":649,"y":799,"wires":[["e146f1f6.6729c"]]},{"id":"d07e483e.ec3898","type":"function","z":"ffae6a3b.7c2d28","name":"ambient_temperature","func":"msg.topic = \"ambient_temperature\";\nreturn msg;","outputs":1,"noerr":0,"x":414,"y":800,"wires":[["aa70bd7f.0d5d7"]]},{"id":"3c8560d.11875a","type":"function","z":"ffae6a3b.7c2d28","name":"target_temperature","func":"msg.topic = \"target_temperature\";\nreturn msg;","outputs":1,"noerr":0,"x":404,"y":840,"wires":[["aa70bd7f.0d5d7"]]},{"id":"9b84772d.f05428","type":"function","z":"ffae6a3b.7c2d28","name":"hvac_state","func":"msg.topic = \"hvac_state\";\nreturn msg;","outputs":1,"noerr":0,"x":384,"y":880,"wires":[["aa70bd7f.0d5d7"]]},{"id":"330ab134.b7a35e","type":"function","z":"ffae6a3b.7c2d28","name":"has_leaf","func":"msg.topic = \"has_leaf\";\nreturn msg;","outputs":1,"noerr":0,"x":374,"y":920,"wires":[["aa70bd7f.0d5d7"]]},{"id":"66d9b621.4c92e8","type":"function","z":"ffae6a3b.7c2d28","name":"away","func":"msg.topic = \"away\";\nreturn msg;","outputs":1,"noerr":0,"x":364,"y":960,"wires":[["aa70bd7f.0d5d7"]]},{"id":"75851787.f0a948","type":"inject","z":"ffae6a3b.7c2d28","name":"","topic":"has_leaf","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":true,"x":120,"y":967,"wires":[["330ab134.b7a35e"]]},{"id":"d7bc9e56.db1be","type":"inject","z":"ffae6a3b.7c2d28","name":"","topic":"has_leaf","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":119,"y":1003,"wires":[["330ab134.b7a35e"]]},{"id":"8e32c6a4.9e2058","type":"inject","z":"ffae6a3b.7c2d28","name":"","topic":"away","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"x":108,"y":1039,"wires":[["66d9b621.4c92e8"]]},{"id":"88e5e8a5.f09e28","type":"inject","z":"ffae6a3b.7c2d28","name":"","topic":"away","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":false,"x":108,"y":1076,"wires":[["66d9b621.4c92e8"]]},{"id":"bc8dd486.9bfe18","type":"inject","z":"ffae6a3b.7c2d28","name":"","topic":"hvac_state","payload":"off","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":931,"wires":[["9b84772d.f05428"]]},{"id":"e77d736f.2e521","type":"inject","z":"ffae6a3b.7c2d28","name":"","topic":"hvac_state","payload":"heating","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":858,"wires":[["9b84772d.f05428"]]},{"id":"4c9da540.6bb67c","type":"inject","z":"ffae6a3b.7c2d28","name":"","topic":"hvac_state","payload":"cooling","payloadType":"str","repeat":"","crontab":"","once":false,"x":140,"y":895,"wires":[["9b84772d.f05428"]]},{"id":"9c858353.428d8","type":"inject","z":"ffae6a3b.7c2d28","name":"","topic":"ambient_temperature","payload":"19.5","payloadType":"num","repeat":"","crontab":"","once":true,"x":161,"y":785,"wires":[["d07e483e.ec3898"]]},{"id":"879bd496.29a898","type":"inject","z":"ffae6a3b.7c2d28","name":"","topic":"target_temperature","payload":"20","payloadType":"num","repeat":"","crontab":"","once":true,"x":152,"y":822,"wires":[["3c8560d.11875a"]]},{"id":"e146f1f6.6729c","type":"function","z":"ffae6a3b.7c2d28","name":"target_temperature","func":"if (msg.topic == \"target_temperature\") {\nreturn msg;\n}","outputs":1,"noerr":0,"x":718,"y":836,"wires":[["d0771486.c79ba8"]]},{"id":"d0771486.c79ba8","type":"debug","z":"ffae6a3b.7c2d28","name":"","active":true,"console":"false","complete":"false","x":738,"y":872,"wires":[]},{"id":"8880d363.148ac","type":"ui_group","z":"","name":"Thermostat","tab":"db58ad1a.e37a8","order":2,"disp":true,"width":"6"},{"id":"db58ad1a.e37a8","type":"ui_tab","z":"","name":"Example","icon":"dashboard"}]
